<h1>This is index page for articles</h1>
<br>
<br>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <td>
                    <%= article.id %>
                </td>
                <td>
                    <%= article.title %>
                </td>
                <td>
                    <%= article.description %>
                </td>
                <td style="display: flex; align-items: center;">
                    <%= button_to "Show", article_path(article), method: :get %> 
                    <%= button_to "Edit", edit_article_path(article), method: :get %> 
                    <%= button_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %> 
                </td>
            </tr>
            <% end %>
                <!-- doesnt come with an evaluation i.e = in <% %>-->
                 
    </tbody>
</table>

<br>
<br>
<br>

<% flash.each do |key, value| %>
    <ul>
        <li><%= value %></li>
    </ul>
    <br>
    <br>
<%end%>

<%= button_to "Add" , new_article_path, method: :get %>
<h3>
    <%= link_to "Go To Home Page", root_path, { style: "color:black" } %>
</h3>
<!-- <%= button_to "Add new article" , new_article_path ,{ style: "color: black;" }%> -->
