<!-- <h1>This is the show functionality!</h1> -->

<%= render "shared/flash_msgs" %>


<h1 style="text-decoration: underline; text-align: center; margin: 20px;">Blog</h1>
<!-- <p><strong>Title: </strong>
    <%= @article.title %>
</p>
<p><strong>Description: </strong>
    <%= @article.description %>
</p>
<p><strong>Created at: </strong>
    <%= @article.created_at.to_date %>
</p>
<% if @article.created_at != @article.updated_at%>
    <p><strong>updated at: </strong>
        <%= @article.updated_at %>
    </p>
<%end%> -->
<div class="container shadow p-3 mb-5 bg-light rounded" style="margin-top:70px;">
    <div class="card">
        <div class="card-header text-muted text-center">
            <p class="mb-0 font-italic">By: <span class="font-italic"><%= link_to "#{@article.user.username}", user_path(@article.user.id), style:"color:#717171" %></span></p>
            <% if @article.categories.any? %>
                <% @article.categories.each do |category| %>
                    <span style="background-color: rgb(76, 240, 76); padding: 5px; border-radius: 15px;"><%= link_to "#{category.name}", category_path(category.id), style: "color: grey;"%></span>
                    &nbsp;
                <%end%>            
            <%end%>
        </div>
        <div class="card-body">
            <h2 class="card-title" style="color: rgb(24, 175, 24);">
                <%= @article.title %>
            </h2>
            <p class="card-text">
                <%= @article.description %>
            </p>
            <div style="display: flex; justify-content: space-between; flex-wrap: wrap;"">
                <div style="display: flex; justify-content: space-between; flex-wrap: wrap; width:11%;">
                    <% if logged_in? && (current_user.id == @article.user_id || current_user.admin ) %>
                        <%= button_to "Edit" , edit_article_path(@article), method: :get, class: "article_card_btn", id: "edit_btn" %>
                        <%= button_to "Delete" , article_path(@article), method: :delete, class: "article_card_btn", id: "del_btn" , data: { confirm: "Are you sure?" } %>
                    <%else%>
                        <%= button_to "Go back" , articles_path(@article), method: :get, class: "article_card_btn", id: "show_btn"%>
                    <%end%>
                </div>
                <% if logged_in? && (current_user.id == @article.user_id || current_user.admin ) %>
                    <div>
                        <%= button_to "Go back" , articles_path(@article), method: :get, class: "article_card_btn", id: "show_btn"%>
                    </div>
                <%end%>
            </div>

        </div>
        <div class="card-footer text-muted" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
            <p>Created on: <%= @article.created_at.to_date %> @ <%= @article.created_at.strftime("%I:%M %p") %></p>
            <% if @article.created_at.to_date == @article.updated_at.to_date and @article.created_at != @article.updated_at%>
                <p>Updated at: <%= @article.updated_at.strftime("%I:%M %p") %> </p>
            <% elsif @article.created_at.to_date != @article.updated_at.to_date%>
                <p>Updated on: <%= @article.updated_at.to_date %> @ <%= @article.updated_at.strftime("%I:%M %p") %> </p>
            <%end%>
        </div>
    </div>
</div>

<br>
<br>

        <!-- <%= button_to "Delete", @article, method: :delete %> -->
        <!-- both will work the same way. -->
        
<!-- <div style="display: flex;">
    <%= button_to "Delete", article_path, method: :delete %>
    <%= button_to "Edit", edit_article_path(@article), method: :get %>
    <%= button_to "Go back", articles_path, method: :get %>
</div> -->
        