<%= render "shared/flash_msgs" %>

<div class="main-content">
  <div class="container mt-7">
    <!-- Table -->
    <div class="row mb-5">
      <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
        
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="#">
                  <!-- <img src="https://demos.creative-tim.com/argon-dashboard/assets-old/img/theme/team-4.jpg" class="rounded-circle"> -->
                  <%= gravatar_for(@user) %>
                  
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <% if @user == current_user %>
                  <%= link_to "Edit your profile", edit_user_path(@user), class: "go-back-home" %>
                  <%= link_to "Delete profile", user_path(@user.id), method: :delete, class: "go-back-home", style:"color: red", data: { confirm: "Are you sure?" } %>
                <%end%>
                <!-- <a href="edit" class="go-back-home">Edit your profile</a> -->
              </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div>
                    <span class="heading"><%= @user.articles.count %></span>
                    <span class="description">Articles</span>
                  </div>
                  <div>
                    <span class="heading"><%= @user.created_at.to_date %></span>
                    <span class="description">Active since</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
                <h3>
                    <%= @user.username.upcase %><span class="font-weight-light"></span>
                </h3>
                <div class="h5 font-weight-300">
                    <i class="ni location_pin mr-2"></i><%= @user.email %>
                </div>
                <div class="h5 mt-4">
                    <i class="ni business_briefcase-24 mr-2"></i>Writer - MyBlog
                </div>
                <div>
                    <i class="ni education_hat mr-2"></i>Made <%= @user.articles.count %> contributions so far.
                </div>
                <hr class="my-4" style="background-color: #919191;">
              
                <div class="more-content text-left" id="content" style="display: none;">
                    <% @articles.each do |article| %>
                      <a class="go-back-home"  href="#"><%= link_to "#{article.title}", article_path(article), class: "go-back-home" %></a>
                      <hr style="background-color: #919191;">
                    <% end %>
                    <div class="flickr_pagination">
                      <%= will_paginate @articles, previous_label: "Previous", next_label: "Next", :container => true %>
                    </div>
                </div>

                <!-- image add karni hai or show page proper ready karna hai  -->
                <% if @user.articles.count != 0 %>
                  <span class="go-back-home" style="color: #716161;" id="toggle" onclick="showAndHide()">Show contributions</span>
                <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  function showAndHide(){
    const toggle = document.getElementById("toggle")
    const content = document.getElementById("content")
    console.log(content);
    if(content.style.display === "block"){
      content.style.display = "none"
      toggle.innerText = "Show contributions"
    }
    else{
      content.style.display = "block"
      toggle.innerText = "Hide contributions"
    }
  }
</script>